{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection-log.txt",
        "debug": "debug.txt",
        "summary": "summary.txt"
    }
}
